


/* ###############    Layouyt para ecrãs menores do 481px  de largura     ##################*/
@media only screen and (max-width: 481px) {
     /* Contentor principal Grid */ 
    .container{
        display: grid;
        grid-row: repeat;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto ;
        
    }
        nav li {
            float: none;
            grid-row-start: 1;
            width: 100%;
        }
        .modos_jogo{
            grid-row-start: 2;
            align-self: center;
            justify-self: center;
            width: 100%;
            height: 80%;
        }
      
    
        footer{
            grid-row: 9 / span 2;
           
            margin: 0;
            width: 100%;
    
        }
    
    }
/* ###############    Layouyt para ecrãs maiores do que 769px de largura     ##################*/
@media only screen and (min-width: 769px){
    /* Contentor principal Grid */ 
    .container{
        min-height: 100%;

        display: grid; 
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: auto auto auto;
        height: 100vh;
        gap: 10px;
    }
      /* Local na grid para a barra de navegação principal */
      .navigation {
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start:1;
        grid-row-end: 2;
        width: 100%;
        height: 100%;
 
    }


    .caixa{
        justify-content: center;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start:2;
        grid-row-end: 4;
        height: 100%;
        width: 100%;
       
    }

    .modos_jogo{
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: 15vw 15vw;
        grid-template-rows: 15vw 15vw;
        grid-gap: 5px;
        height: 100%;
        width: 100%;
    }
    .gridGameM1 { 
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start:2;
        grid-row-end: 7;
        padding: 10px;
        margin: 10px auto;
        width: fit-content;
       
        max-width: fit-content;
        background-color: silver;
        border: 1px solid black;
        display: inline-grid;
        grid-template-rows: auto  auto auto;
        

    }
    .gridGameM2 { 
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start:2;
        grid-row-end: 7;


        margin: 10px auto;
        width: fit-content;
       
        max-width: fit-content;
        background-color: silver;
        border: 1px solid black;
        display: inline-grid;
        grid-template-rows: auto  auto auto;
    }

   
    /* Local na grid para o footer */
    footer{
        
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start:8;
        grid-row-end: 9;
        margin: 0;
        width: 100%;
        height: auto;

    }
}
/* ###############    Layouyt para ecrãs maiores do que 1200px de largura     ##################*/
@media only screen and (min-width: 1200px){

 /* Contentor principal Grid */ 
    .container{
        min-height: 100%;

        display: grid; 
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: 6vw  repeat(6,1fr)  2vw;
        height: 100vh;
        gap: 10px;
    }
 article{
    grid-row: 2/10;
    grid-column: 2/11;

    }

    .caixa{
        justify-content: center;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start:2;
        grid-row-end: 4;
        height: 100%;
        width: 100%;
       
    }
    .gridGame { 
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start:2;
        grid-row-end: 7;
        padding: 10px;
        margin: 10px auto;
        width: fit-content;
       
        max-width: fit-content;
        background-color: silver;
        border: 1px solid black;
        display: inline-grid;
        grid-template-rows: auto  auto auto;
        

    }
    .gridGameM1 { 
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start:2;
        grid-row-end: 7;
        padding: 10px;
        margin: 10px auto;
        width: fit-content;
       
        max-width: fit-content;
        background-color: silver;
        border: 1px solid black;
        display: inline-grid;
        grid-template-rows: auto  auto auto;
        

    }
    .gridGameM2 { 
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start:2;
        grid-row-end: 7;


        margin: 10px auto;
        width: fit-content;
       
        max-width: fit-content;
        background-color: silver;
        border: 1px solid black;
        display: inline-grid;
        grid-template-rows: auto  auto auto;
        

    }
    .modos_jogo{
        position: relative;
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: 15vw 15vw;
        grid-template-rows: 15vw 15vw;
        grid-gap: 5px;
        height: 100%;
        width: 100%;
    }
    .navigation {
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start:1;
        grid-row-end: 2;
        width: 100%;
        height: 100%;
 
    }
   /* Local na grid para o footer */
    footer{
        
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start:8;
        grid-row-end: 9;
        margin: 0;
        width: 100%;

    }
}
