 /* Contentor principal Grid */ 
 .container{
    min-height: 100%;

    display: grid; 
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto auto;
    height: 100vh;
    gap: 10px;
}
  /* Local na grid para a barra de navegação principal */
  .navigation {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start:1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;

}
 /* ######## Escolha Tipo de Jogo  ################# */

 /* Botão Mina */

  .mine{

      box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 2px, /* border */
      inset hsla(0,0%,15%, .8) 0 -1px 3px 2px, /* soft SD */
      inset hsla(0,0%,0%, .25) 0 -1px 1px 3px, /* bottom SD */
      inset hsla(0,0%,100%,.7) 0  2px 1px 2px, /* top HL */

      hsla(0,0%, 0%,.15) 0 -2px 3px 2px, /* outer SD */
      hsla(0,0%,100%,.5) 0  2px 3px 2px; /* outer HL */
  }

.celula{

    width: 20px;
    height: 20px;
}
.caixa{
    justify-content: center;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start:2;
    grid-row-end: 4;
    height: 100%;
    width: 100%;
   
}
          /* Menu Escolha de tipo de jogo Grid position */ 
.modos_jogo{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 15vw 15vw;
    grid-gap: 5px;
    height: 100%;
    width: fit-content;
}


 .gridGameBackup {


     padding: 10px;
     margin: 10px auto;
     width: fit-content;

     max-width: fit-content;
     background-color: silver;
     border: 1px solid black;
     display: inline-grid;
     grid-template-rows: auto  auto auto;


 }
   /* Caixa que contem o Jogo SinglePlayer Posição em grid  */ 
.gridGame { 



    margin: 10px auto;
    width:fit-content;
   min-width: border-box;
    padding: 4vh;
    background-color: silver;
    border: 1px solid black;
    display:grid;
    grid-template-rows: auto  auto auto;


}
 /* TESTE  */
 .game {
     grid-column-start:1 ;
     grid-column-end:13 ;
     grid-row-start: 2;
     display: flex;

     align-content: center;


 }

 .tablePlace{
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 3;


 }

 .menu_jogo{
     display: flex;
     justify-content: center;
     grid-row-start: 1;
     grid-row-end: 2;
     grid-column-start: 1;
     grid-column-end: 2;
     width:100%;
 }

   /* Caixa que contem o Jogo Multiplayer P1 Posição em grid  */ 
.gridGameM1 { 
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:2;

    padding: 10px;
    margin: 10px auto;
    width: fit-content;
   
    max-width: fit-content;
    background-color: silver;
    border: 1px solid black;
    display: inline-grid;
    grid-template-rows: auto  auto auto;


}

    /* Caixa que contem o Jogo Multiplayer P2 Posição em grid  */ 
.gridGameM2 { 
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start:2;



    margin: 10px auto;
    width: fit-content;
   
    max-width: fit-content;
    background-color: silver;
    border: 1px solid black;
    display: inline-grid;
    grid-template-rows: auto  auto auto;
}
#energy_bar {
    margin: 3% 3%;
    padding: 3%;
    width: 20%;

}
 .energia {
     background-color: silver;
     grid-row-start:3;
     grid-row-end: 4;
     width: 100%;
     grid-column-start: 1;
     grid-column-end: 2;

 }


/* ----------------- Tutorial ---------------------*/

.tutorial{

    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;



 

    }
    

    .regras{
        
       
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start:3;
    height: fit-content;

  
    }
    iframe{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 10px;

        width: 100%;
        height: 60%;
        max-height: 300px;
    }
    
    .videoTutorial{
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start:3;
        height: 100%;
 
     
    

    }



/* ----------------- Quem Somos ---------------------*/
.perfilContainer{
 
    display: flex;
    justify-content: space-around;


}
    
article{
    grid-row: 2/8;
    grid-column: 2/11;
    
    }
    
    .wrapperCard{
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
        width: 20%;
        
 
        
    }
    .perfil{

        display: flex;
        justify-content: center;
        margin: 0 auto;

        width: fit-content;

    }
   .perfil img{


       max-width: 30vh;


   }
   .descricão{
        text-align: center;
        width: 100%;
    
    }
    
    .textoContainer{
        padding-top: 50px;
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start:6;


    }




    



/* ----------------- Ranking ---------------------*/ 


.ranking{
    display: flex;
    justify-content: center;
    width: 100%;
 
    }
    

/* Local na grid para o footer */
footer{
    
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start:9;
    grid-row-end:10;

    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0;

}