/* -------######## Layout Comum a todos ##########---------------------*/
/* Layout Contentor principal Grid */
 .container{
    min-height: 100%;

    display: grid; 
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto auto;
    height: 100vh;
    gap: 10px;
}

  /* Layout para barra de navegação do website */
  .navigation {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start:1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;

}
/* Layout  para o footer  */
footer{

    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start:9;
    grid-row-end:10;

    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0;

}
 /* ######## Escolha Tipo de Jogo  ################# */

/* Menu Escolha de tipo de jogo Grid position */
.modos_jogo{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 15vw 15vw;
    grid-gap: 5px;
    height: 100%;
    width: fit-content;
}
 /* Sombra do botão de escolha de tipo de jogo*/

  .mine{

      box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 2px, /* border */
      inset hsla(0,0%,15%, .8) 0 -1px 3px 2px, /* soft SD */
      inset hsla(0,0%,0%, .25) 0 -1px 1px 3px, /* bottom SD */
      inset hsla(0,0%,100%,.7) 0  2px 1px 2px, /* top HL */

      hsla(0,0%, 0%,.15) 0 -2px 3px 2px, /* outer SD */
      hsla(0,0%,100%,.5) 0  2px 3px 2px; /* outer HL */
  }

/* O QUE É ?????*/
.caixa{
    justify-content: center;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start:2;
    grid-row-end: 4;
    height: 100%;
    width: 100%;
   
}


 /* ---------------------########### JOGO ############-------------------  */

 /* Caixa que envolve toda a secção de jogos e centra os */
 .game {
     grid-column-start:1 ;
     grid-column-end:13 ;
     grid-row-start: 2;
     display: flex;

     align-content: center;


 }

   /* Jogo */
.gridGame { 



    margin: 10px auto;
    width:fit-content;
   min-width: border-box;
    padding: 4vh;

    display:grid;
    grid-template-rows: auto  auto auto;


}

/* O QUE É ?????*/
 .tablePlace{
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 3;


 }
.celula{

    width: 20px;
    height: 20px;
}
.openedCell{

    width: 20px;
    height: 20px;
}

 .menu_jogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
     grid-row-start: 1;
     grid-row-end: 2;
     grid-column-start: 1;
     grid-column-end: 2;
    width: 100%;
 }

 .jogador{
     padding-right: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
height: fit-content;
     width: fit-content;

 }
.avatar{
   margin: 0 auto;
    height: 10vh;
    width: 10vh;

}

.smallicon{
    height: 3vh;
    width: 3vh;
}

.time {
    order: 1;

    margin-right: 2vh;
    margin-bottom: 5px;
    font-size: 4vh;

}
.timeMulti {
    font-size: 4vh;

}
.buttonStart{
    width: 5vh;
    height: 5vh;
    margin-bottom: 5px;
    order: 2;

}
.points{
    order: 3;
    margin-left: 2vh ;

    margin-bottom: 5px;


    font-size: 4vh;
}

.gameStatus{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.mute {
    height: 20px;
    width: 20px;
}

 .downbar {
    display: flex;
  justify-content: space-between;
     grid-row-start:3;
     grid-row-end: 4;
     width: 100%;
     grid-column-start: 1;
     grid-column-end: 2;

 }
/*  ---------------##################   custom Game SinglePlayer  ##############-------------------------------- */
.customContainer {
    grid-column-start:1 ;
    grid-column-end:13 ;
    grid-row-start: 2;
    display: flex;

    align-content: center;

}
.customContainer table {
    border-spacing:5vh;
}


/* -------######## Layout página Tutorial ##########---------------------*/

.tutorial{

    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;



 

    }

/* Contentor para regras tutorial  */
    .regras{
        
       
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start:3;
    height: fit-content;

  
    }
/* tamanho video youtube */
/* retirar opções gerais*/
    iframe{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 10px;

        width: 100%;
        height: 60%;
        max-height: 300px;
    }
/* Layout video tutorial */
    .videoTutorial{
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start:3;
        height: 100%;
 
     
    

    }

/* -----######### Layout página  Ranking #############---*/

/* ranking position e size */
.ranking{
    display: flex;
    justify-content: center;
    width: 100%;

}

/* -----#########  Layout página Quem Somos ----#############--*/


/* Layout video tutorial */
.perfilContainer{
 
    display: flex;
    justify-content: space-around;


}


/* Layout video tutorial */
article{
    grid-row: 2/8;
    grid-column: 2/11;
    
    }


/* Layout video tutorial */
.wrapperCard{
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
        width: 20%;

    }

/* Layout video tutorial */
.perfil{

        display: flex;
        justify-content: center;
        margin: 0 auto;

        width: fit-content;

    }

/* Layout video tutorial */
.perfil img{


       max-width: 30vh;


   }

/* Layout video tutorial */
.descricão{
        text-align: center;
        width: 100%;
    
    }


/* Layout video tutorial */
.textoContainer{
        padding-top: 50px;
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start:6;


    }




    






/* ----------------- Layout página  Registar Jogador ---------------------*/